{% extends 'base.html.twig' %}
{% block title %}Dashboard admin{% endblock %}
{% block body %}

{% for message in app.flashes('messageCreate') %}
    <div class="alert alert-success" role="alert" style="width:50%; text-align:center; margin-left:23.5%; margin-top:1.5%;">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('messageUpdate') %}
    <div class="alert alert-success" role="alert" style="width:50%; text-align:center; margin-left:23.5%; margin-top:1.5%;">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('messageCatalog') %}
    <div class="alert alert-success" role="alert" style="width:50%; text-align:center; margin-left:23.5%; margin-top:1.5%;">
        {{ message }}
    </div>
{% endfor %}

<div class="container" style="margin-top:60px">
  <table class="table table-striped table-hover">
    <tr class="table-dark">
        <th>Id</th>
        <th>Name</th> 
        <th>Email</th> 
        <th>Last Login</th>
        <th>Role</th> 
        <th>Active</th>
        <th>Deleted</th>
        <th>Catalog</th>
        <th>Actions</th>
    </tr>
      {% if is_granted('ROLE_ADMIN') %}
        {% for user in pagination %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.lastLogin|date('d-m-Y H:i') }}</td>
            <td>
              {% if 'ROLE_ADMIN' in user.roles %} <!-- Compruebo si ROLE_ADMIN se encuentra en el array de roles-->
                <strong>Admin</strong>
              {% else %}
                <strong>User</strong>  
              {% endif %} 
            </td>
            <td>
              {% if user.isActive == 0 %} 
                <strong>No</strong>
              {% else %}
                <strong>Yes</strong>  
              {% endif %} 
            </td> 
            <td>
              {% if user.isDeleted == 0 %} 
                <strong>No</strong>
              {% else %}
                <strong>Yes</strong>  
              {% endif %} 
            </td> 
            <td>
              <a href="{{ path('create_catalog', {'id': user.id}) }}" class="btn btn-sm btn-success">create</a>
              <a href="{{ path('view_catalog', {'id': user.id}) }}" class="btn btn-sm btn-info">view</a>
            </td>
            <td>
              <a id="update-{{loop.index}}" href="{{ path('user_update', {'id': user.id}) }}" class="btn btn-sm btn-primary">update</a>
              <a id="delete-{{loop.index}}" href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-sm btn-danger">delete</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>{{ app.user.id }}</td>
          <td>{{ app.user.name }}</td>
          <td>{{ app.user.email }}</td>
          <td>{{ app.user.lastLogin|date('d-m-Y H:i') }}</td>  
          <td><strong>User</strong></td>
          <td>
              {% if app.user.isActive == 0 %} 
                <strong>No</strong>
              {% else %}
                <strong>Yes</strong>  
              {% endif %} 
          </td>
          <td>
              {% if app.user.isDeleted == 0 %} 
                <strong>No</strong>
              {% else %}
                <strong>Yes</strong>  
              {% endif %} 
          </td>
          <td>
            <a href="{{ path('create_catalog', {'id': user.id}) }}" class="btn btn-sm btn-success">create</a>
            <a href="{{ path('view_catalog', {'id': user.id}) }}" class="btn btn-sm btn-info">view</a>
          </td>
          <td>
            <a id="update" href="{{ path('user_update', {'id': app.user.id }) }}" class="btn btn-sm btn-primary">update</a>
          </td>
        </tr>
      {% endif %}

  </table>

  {% if is_granted('ROLE_ADMIN') %}
    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>
  {% endif %}

</div>

{% endblock %}